@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icomoon.eot');
    src:  url('/fonts/icomoon.eot') format('embedded-opentype'),
    url('/fonts/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon.woff') format('woff'),
    url('/fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon'  ;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cross2:before {
    content: "\e117";
}
.icon-envelope-o:before {
    content: "\f003";
    font-size: 30px;
}
.icon-forward:before {
    content: "\e902";
}
.icon-home3:before {
    content: "\e903";
}
.icon-phone:before {
    content: "\e942";
}
.icon-mobile2:before {
    content: "\e959";
}
.icon-tick-outline:before {
  content: "\e900";
}

body {
	margin: 0;
	font-family: 'Arimo', sans-serif;
}

textarea, input {
   font-family: inherit;
   font-size: inherit;
}

ul {
	margin: 0px;
	padding: 0px;
}

a {
	color: #ED1D24;
	text-decoration: none;
    -webkit-transition: color 0.4s ease;
	-moz-transition: color 0.4s ease;
	-ms-transition: color 0.4s ease;
	-o-transition: color 0.4s ease;
	transition: color 0.4s ease;
}

a:hover {
	color: #BCBEC0;
}

.top-info-wrapper {
	background: #ED1D24;
	color: #ffffff;
}

.center-wrapper {
	margin: 0 auto;
	width: 1200px;
}

.top-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.phone-wrapper,
.mobile-wrapper,
.email-wrapper {
 	display: block;
    float: left;
    padding: 5px 1em 5px 0;
    text-align: center;
    position: relative;
}

.phone-wrapper .icon,
.mobile-wrapper .icon,
.email-wrapper .icon {
	font-size: 24px;
	position: absolute;
    -webkit-transition: color 0.4s ease;
	-moz-transition: color 0.4s ease;
	-ms-transition: color 0.4s ease;
	-o-transition: color 0.4s ease;
	transition: color 0.4s ease;
}

.phone-wrapper .label,
.mobile-wrapper .label,
.email-wrapper .label {
	font-size: 16px;
	padding-left: 35px;
	line-height: 30px;
}

.email-wrapper .email {
	color: inherit;
}

.email-wrapper:hover {
    color: #BCBEC0;
}

.header-placeholder {
    min-height: 80px;
}

header {
	background: #0e0e0e;
}

header.sticky {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}

.header-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo-wrapper a {
	display: block;
	padding: 5px 0;
	outline: none;
}

.logo {
    display: block;
    height: 100px;
    -webkit-transition: height 0.2s ease-in-out;
    -moz-transition: height 0.2s ease-in-out;
    -ms-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
}

.sticky .logo {
    height: 70px;
}

.main-menu-wrapper {
	/*float: right;*/
	margin: 0px;
	padding: 0px;
}

.main-menu {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	justify-content: flex-end;
	align-content: center;
}

.main-menu-item {
	display: block;
	border-right: 1px #0e0e0e solid;
}

.main-menu-item a {
	color: #ffffff;
	padding: 10px 5px;
	text-decoration: none;
	display: block;
	font-size: 16px;
    line-height: 34px;
	font-weight: bold;
	position: relative;
	margin: 0 1em;
	color: #ffffff;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main-menu-item a span:before {
    font-size: 24px;
}

.main-menu-item.selected a,
.main-menu-item.selected a:hover,
.main-menu-item.selected a:focus {
	color: #ED1D24;
}

.main-menu-item.selected a::after,
.main-menu-item.selected a::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.main-menu-item.selected a::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.main-menu-item a:hover,
.main-menu-item a:focus {
	color: #ffffff;
	outline: none;
}

.main-menu-item a:hover::before,
.main-menu-item a:focus::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.main-menu-item a::before,
.main-menu-item a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transform-origin: center left;
	transform-origin: center left;
	-webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.main-menu-item a::before {
	background: #ffffff;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.main-menu-item a::after {
	background: #ED1D24;
}

.main-slider {
	padding-bottom: 30px;
}

.main-slider .slide-item {
	overflow: hidden;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	height: 500px;

}

.main-slider .owl-controls {
	position: absolute;
	top: 10px;
	right: 50px;
}

.main-slider.owl-theme .owl-controls .owl-page span {
	background-color: #ED1D24;
}

.seo-wrapper {
	text-align: center;
	padding-bottom: 30px;
}

.seo-wrapper .seo-title {
    color: #ED1D24;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    padding: 0 5px 6px;
    display: inline-block;
    border-bottom: 3px solid;
    margin: 10px;
}

.seo-wrapper .seo-text {
    margin: 0;
}

.brand-slider-wrapper {
	text-align: center;
	padding-bottom: 30px;
}

.brand-slider-wrapper .brand-slider-title-wrapper {
    margin: 0;
}

.brand-slider-wrapper .brand-slider-title {
	color: #ED1D24;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    padding: 0 5px 6px;
    display: inline-block;
    border-bottom: 3px solid;
    margin: 10px;
}

.brand-slider-wrapper .brand-slider {
	height: 70px;
}

.brand-slider-wrapper .brand-slider-item {
	display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
}

.brand-slider-wrapper .brand-slider-item img {
    max-height: 59px;
    max-width: 150px;
}

.banner-wrapper {
	/*background: #BCBEC0;*/
	padding-bottom: 30px;
    text-align: center;
}

.banner-wrapper .banner-title {
    border-bottom: 3px solid;
    color: #ed1d24;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    margin: 10px;
    padding: 0 5px 6px;
}

.overlay .wrapper {
    /*top: 45%;*/
    /*position: relative;*/
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.overlay .inner-wrapper {
    text-align: center;
}

.overlay .logo {
    display: inline;
    padding-bottom: 10px;
    height: 100px;
}

.overlay .icon {
    position:relative;
    float:none;
}

.overlay .icon.icon-envelope-o:before {
    padding-right: 7px;
    font-size: 24px;
}

.overlay .info-wrapper {
    color: #414042;
    display: inline;
    float: none;
}

.overlay .info-wrapper div {
    display: block;
    float: none;
}

.overlay .email-wrapper:hover {
    color: #ED1D24;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.85);
	z-index: 1;
}

.overlay .overlay-close {
	background-color: rgba(0, 0, 0, 0);
    border: medium none;
    height: 80px;
    outline: medium none;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 80px;
    z-index: 100;
    font-size: 30px;
    color: #414042;
    cursor: pointer;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.overlay .overlay-close:hover {
	color: #ED1D24;
}

.overlay .phone-wrapper .label,
.overlay .mobile-wrapper .label,
.overlay .email-wrapper .label {
    padding-left: 0px;
}

.overlay-slidedown {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
    z-index: 3;
}

.grid {
	margin: 0 auto;
	padding: 0px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
    float: left;
	overflow: hidden;
	margin: 10px 1%;
	max-width: 480px;
	max-height: 360px;
	width: 18%;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 20px;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
	float: left;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-sarah {
	background: #000000;
}

figure.effect-sarah img {
	max-width: none;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sarah:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah figcaption {
	text-align: left;
}

figure.effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 0 5px 5px;
}

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}







footer {
	background: #0e0e0e;
    text-align: center;
}

.footer-menu-wrapper {
    float: left;
    padding: 20px 20px 20px 0;
    text-align:left;
}

.footer-menu-wrapper .footer-menu {
    list-style: none;
}

.footer-menu-wrapper .footer-menu .footer-menu-item a {
    line-height: 28px;
}

.footer-menu-wrapper .footer-menu .footer-menu-item .icon:before {
    color: #ed1d24;
    font-size: 16px;
    line-height: 28px;
}

.newsletter-wrapper {
    width: 306px;
    color: #ffffff;
    padding: 20px 0 20px 20px;
    text-align: left;
    float: right;
}

.newsletter-text-wrapper {
	padding-bottom: 10px;
}

.newsletter-text {
    padding-left: 40px;
    display: block;
    font-size: 15px;
}

.newsletter_form {
    position: relative;
}

.newsletter-text-wrapper .icon-envelope-o {
    float: left;
}

.nl_inp {
	float: left;
    font-size: 15px;
	height: 38px;
	border: none;
	border-right: 0px;
	width: 200px;
	padding: 5px 5px;
	line-height: 21px;
    outline-width: 0;
    margin-right: 10px;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.newsletter_form .message {
    font-size: 12px;
    color: #ED1D24;
    display: none;
    line-height: 12px;
    position: absolute;
    left: 0px;
    top: 50px;
}

.newsletter_form .newsletter_success {
    color: #ffffff;
}

.nl_btn {
	color: #ED1D24;
	padding: 5px;
	text-decoration: none;
	display: block;
	font-size: 15px;
	font-weight: bold;
	position: relative;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background: none;
    border: none;
    z-index: 0;
    cursor: pointer;
    overflow: hidden;
	-webkit-transition: background 0.4s ease;
	-moz-transition: background 0.4s ease;
	-ms-transition: background 0.4s ease;
	-o-transition: background 0.4s ease;
	transition: background 0.4s ease;
}

.nl_btn:hover,
.nl_btn:focus {
	color: #ED1D24;
	outline: none;
}

.nl_btn:hover::before,
.nl_btn:focus::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.nl_btn::before,
.nl_btn::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transform-origin: center left;
	transform-origin: center left;
	-webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nl_btn::before {
	background: #ED1D24;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.contact-wrapper {
	color: #ffffff;
	padding: 20px;
	display: inline-block;
    width: 429px;
    text-align: left;
}

.contact-wrapper span {
	display: block;
    padding: 0 15px 0;
    font-size: 15px;
}


.contact-wrapper .email {
	display: block;
    padding: 0 15px 0;
    font-size: 15px;
}


.contact-wrapper .title {
	border-bottom: 3px solid #ED1D24;
    color: #ED1D24;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin: 0 10px 10px;
    padding: 0 5px 5px;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.contact-wrapper .title:hover {
	color: #BCBEC0;
	border-color:  #BCBEC0;

}

.info-wrapper, .map-wrapper {
	float: left;
	width: 50%;
}

.document-wrapper {
	padding: 10px 0 20px 0;
	color: #0e0e0e;
	font-size: 15px;
    min-height: calc(100vh - 340px);
}

.document-wrapper ul {
	padding-left: 40px;
}

.document-wrapper h1 {
    border-bottom: 3px solid #ED1D24;
    color: #ED1D24;
    display: inline-block;
    font-size: 26px;
    padding: 10px 5px;
    margin: 0;
}

.document-wrapper img {
    display: block;
    float: right;
    padding: 30px 0 20px 30px;
    width: 50%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.contact-page-wrapper {
	padding: 10px 0 20px 0;
}


.contact-page-wrapper span {
	display: block;
	line-height: 24px;
	color: #0e0e0e;
}

.contact-page-wrapper .contact-info span {
	font-weight: bold;
}

.contact-page-wrapper .title {
    border-bottom: 3px solid #ED1D24;
    color: #ED1D24;
    display: inline-block ;
    font-size: 20px;
    margin: 0 0 15px 0;
	line-height: 28px;
    padding: 5px;
}

.contact-page-wrapper .map-wrapper {
	width: 100%;
	float: none;
	padding: 10px 0;
}

.contact-info {
	float: left;
	width: 30%;
}

.contact-form-wrapper {
	float: left;
	width: 70%;
}

.contact-form-wrapper .success_wrapper {
    padding: 100px 0;
    text-align: center;
}

.contact-form-wrapper .success_wrapper span {
    color: #056305;
    display: inline;
    font-size: 26px;
}

.submit_btn {
	color: #ED1D24;
    cursor: pointer;
	padding: 5px;
	text-decoration: none;
	display: inline-block;
	float: right;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background: none;
    border: none;
    z-index: 0;
    overflow: hidden;
	-webkit-transition: background 0.4s ease;
	-moz-transition: background 0.4s ease;
	-ms-transition: background 0.4s ease;
	-o-transition: background 0.4s ease;
	transition: background 0.4s ease;
}

.submit_btn:hover,
.submit_btn:focus {
	color: #ED1D24;
	outline: none;
}

.submit_btn:hover::before,
.submit_btn:focus::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.submit_btn::before,
.submit_btn::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transform-origin: center left;
	transform-origin: center left;
	-webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.submit_btn::before {
	background: #ED1D24;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.contact-form-wrapper .message {
	display: none;
    color: #ED1D24;
    font-size: 12px;
}


.row_wrapper, .row_wrapper2 {
    display: inline-block;
    float: left;
    max-width: 48%;
    margin: 0 2% 0 0;
    position: relative;
    vertical-align: top;
    width: calc(100% - 2em);
    z-index: 1;
}

.row_wrapper2 {
    margin: 0;
}

.input__field {
	position: relative;
	display: block;
	border: none;
	border-radius: 0;
	background: #0e0e0e;
	color: #aaa;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}
.input-hoshi {
	overflow: hidden;
    height: 100px;
}

.input-hoshi.text-area {
    height: 160px;
}

.input__field-hoshi {
	margin: 1em 0;
	padding: 0.85em 0;
	width: 100%;
	background: transparent;
	color: #595F6E;
}

.input__label-hoshi {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0.25em;
	width: 100%;
	height: calc(100% - 5px);
	text-align: left;
	pointer-events: none;
}

.input__label-content-hoshi {
	position: absolute;
}

.input__label-hoshi::before,
.input__label-hoshi::after {
	content: '';
	position: absolute;
	top: 0;
	left: -1px;
	width: 100%;
	height: calc(100% - 40px);
	border-bottom: 1px solid #B9C1CA;
}

.input__label-hoshi::after {
	margin-top: 2px;
	border-bottom: 3px solid red;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-hoshi-color-1::after {
	border-color: #ED1D24;
}

.input__field-hoshi:focus + .input__label-hoshi::after,
.input-filled .input__label-hoshi::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field-hoshi:focus + .input__label-hoshi .input__label-content-hoshi,
.input-filled .input__label-content-hoshi {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

.contact-form-wrapper .footnote {
    bottom: 0;
    color: #b9c1ca;
    display: inline;
    font-size: 11px;
    position: absolute;
}

.contact-form-wrapper textarea {
    padding: 0;
    margin: 35px 0 17px 0;
    height: 85px;
}

.contact-form-wrapper .form {
    position: relative;
}

.contact-form-wrapper .form .lastrow_wrapper {
    position: absolute;
    bottom: 50px;
    right: 0;
}

.brand-page-wrapper {
    padding: 10px 0 20px 0;
    text-align: center;
}

.brand-page-wrapper .title {
    border-bottom: 3px solid #ED1D24;
    color: #ED1D24;
    display: inline-block;
    font-size: 26px;
    padding: 10px 5px;
    margin: 0;
}

.brand-page-wrapper .effect-sarah h2 {
    font-size: 20px;
}

.brand-page-wrapper .effect-sarah {
    height: 200px;
    width: 100%;
}
.brand-page-wrapper .effect-sarah figcaption {
    text-shadow: 0 0 5px #949494;
    padding: 20px;
}

.brand-page-wrapper .accordion-item {
    width: 24%;
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
}

.brand-page-wrapper .image-wrapper:after {
    border-bottom: 10px solid #bcbec0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: none;
    bottom: 0;
    height: 20px;
    position: absolute;
    width: 0;
    left: -webkit-calc(100% / 2);
	left: calc(100% /2);
}

.brand-page-wrapper .image-wrapper.open:after {
    content: "";
}

.brand-page-wrapper .brands-wrapper {
    background-color: #BCBEC0;
    box-sizing: border-box;
    margin: 0 3px;
    padding: 16px 16px 36px;
    position: absolute;
    overflow: hidden;
    width: calc(100% - 6px);
    z-index: 1;
    box-sizing: border-box;
    /*height: 0;*/
    top: 230px;
    display: none;
}

.brand-page-wrapper .brands-wrapper .close {
    bottom: 10px;
    color: #ed1d24;
    cursor: pointer;
    left: 25px;
    list-style: outside none "x";
    padding-left: 5px;
    position: absolute;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
    
.brand-page-wrapper .brands-wrapper .close:hover {
    color: #0e0e0e;
}
.brand-page-wrapper .image-wrapper.open + .brands-wrapper {
    height: auto;
}

.brand-page-wrapper .brands-wrapper .brand {
    display: inline-block;
    padding: 5px;
}

.brand-page-wrapper .brands-wrapper .brand img {
    max-height: 100px;
    max-width: 200px;
}

.brand-page-wrapper .brands-wrapper .brand .brand-title {
    display: block;

}